nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4%;
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
    background-color: #fff;
  }
  
  nav .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
    object-position: top;
  }
  
  .logo h3 {
    padding-left: 15px;
  }
  
  ul {
    display: flex;
    align-items: center;
   
  }
  
  ul li {
    display: inline-block;
    margin-left: 70px;
  }
  
  ul li:first-child {
    margin-left: 0;
  }
  
  ul li:last-child {
    margin-right: 28px;
  }
  
  ul li a {
    color: black;
    font-weight: bold;
    
  }
  
  .menu {
    color: black;
    display: none;
    cursor: pointer;
  }
  
 
  
  
  @media (max-width: 800px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
      height: fit-content;
      padding: 20px 3%;
    }
  
    .logo img {
      width: 45px;
      height: 45px;
    }
  
    .logo h3 {
      padding-left: 15px;
      font-size: 18px;
    }
  
    ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-top: 20px;
    }
  
    ul.show {
      display: flex;
    }
  
    ul li {
      width: 100%;
      margin: 10px auto;
      text-align: center;
    }
  
    .menu {
      display: block;
      position: absolute;
      top: 25px;
      right: 30px;
      z-index: 1000;
    }
    a:checked ~ ul
    {
        display: none;
    }
  }
  